.form {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.income-field,
.country-field {
  padding: 0.7rem 2rem;
  outline: none;
  border: 1px solid black;
  border-radius: 8px;
}

.calculate-btn {
  padding: 0.7rem 2rem;
  outline: none;
  border: 1px solid black;
  border-radius: 8px;
  cursor: pointer;
}

.error-msg {
  color: tomato;
  font-size: 12px;
}
